## Titanic Survival prediction using NAIVE BAYES

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv',usecols=['Pclass', 'Sex', 'Age', 'Fare', 'Survived']) #importing the dataset

In [3]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
df.isnull().sum()# checking for null values

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [5]:
df['Age'].fillna(df['Age'].mean(),inplace=True) #fill the missing values by mean

In [6]:
df.describe()

         Survived      Pclass         Age        Fare
count  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118   32.204208
std      0.486592    0.836071   13.002015   49.693429
min      0.000000    1.000000    0.420000    0.000000
25%      0.000000    2.000000   22.000000    7.910400
50%      0.000000    3.000000   29.699118   14.454200
75%      1.000000    3.000000   35.000000   31.000000
max      1.000000    3.000000   80.000000  512.329200

In [7]:
df=df.replace({"male":1,"female":0})

In [8]:
df

     Survived  Pclass  Sex        Age     Fare
0           0       3    1  22.000000   7.2500
1           1       1    0  38.000000  71.2833
2           1       3    0  26.000000   7.9250
3           1       1    0  35.000000  53.1000
4           0       3    1  35.000000   8.0500
..        ...     ...  ...        ...      ...
886         0       2    1  27.000000  13.0000
887         1       1    0  19.000000  30.0000
888         0       3    0  29.699118  23.4500
889         1       1    1  26.000000  30.0000
890         0       3    1  32.000000   7.7500

[891 rows x 5 columns]

In [9]:
X=df.iloc[:,1:]
Y=df.iloc[:,0]

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [12]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [13]:
from sklearn.naive_bayes import GaussianNB 
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [14]:
y_pred=model.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Confusion Matrix is:")
print(confusion_matrix(y_test,y_pred))
print("Accuracy of the Model is:",accuracy_score(y_test,y_pred))

Confusion Matrix is:
[[75 27]
 [20 57]]
Accuracy of the Model is: 0.7374301675977654